[Unit]
Description=What Do I Cook? App
After=network.target

[Service]
ExecStart=/home/pi/repo/what-do-i-cook/venv/bin/python /home/pi/repo/what-do-i-cook/app.py
WorkingDirectory=/home/pi/repo/what-do-i-cook
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
