[Unit]
Description=What Do I Cook? App
After=network.target

[Service]
ExecStart=/usr/bin/python3 /repo/what-do-i-cook/app.py
WorkingDirectory=/repo/what-do-i-cook
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
